
html {
    min-width: 550px;
}

header p {
	margin: 0;
}
body .main-container {
	max-width:1400px;
	margin-top: 30px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


html form {
    margin: 0;
}

header select {
    width: auto;
    height: auto;
}

.pagination ul{
    width: 100%;
    overflow: hidden
}

.pagination ul:before, .pagination ul:after {
    content: "";
    display: table;
    clear: both
}

.pagination li {
    border: none;
    display: inline-block;
    outline: 0;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.pagination li:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.pagination ul li {
    white-space: normal
}

.pagination ul li:disabled {
    cursor: not-allowed;
    opacity: 0.3
}

.pagination ul li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.pagination ul .active {
    color: #fff !important;
    background-color: #000 !important
}


